.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
  --primary-white: rgb(255, 255, 255);
  --primary-aqua: #06e2f6;
  --primary-dark: rgba(255, 255, 255, 0);
  
}

body {
  font-family: "Open Sans" sans-serif;
}

/**********************NAVBAR**************************/


.logo {
  width: 8rem;
}

/*Menu Links*/
nav a.nav-link {
  letter-spacing: 0.1;
  cursor:pointer;

}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  color: var(--primary-white) !important;
  border-top: 0.2rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17rem;
  padding: 0 !important;
  height: 8rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.2rem solid var(--primary-aqua);
}

.navbar-nav > li > a:hover {
  border-top: 0.2rem solid var(--primary-aqua);

}